<template>
	<v-flex class="lg3">
		<v-card>
			<v-card-title primary-title class="primary white--text">
				<div>
					<div class="headline">{{ label }}</div>
				</div>
			</v-card-title>
			<v-card-text>
				<h3>Project Stack</h3>
				<hr />
				<ul class="container-list-project--stack">
					<li v-for="container in containers" :key="container.Id">
						<span :title="container.Image">
							{{ container.Image }}
						</span>
						<br />
						<small :title="getServiceNameOrImageName(container)">
							({{ container.State }}: {{ container.Status }})
							<span class="container-list-project--stat" v-if="showStats">
								CPU: {{ cpu[container.Id] }}
							</span>
						</small>
					</li>
				</ul>
				<h3>TCP/IP Services</h3>
				<hr />
				<ul class="container-list-project--tcp">
					<li :key="label" v-for="(ports, label) in tcpIPServiceList">
						<small>
							<b>{{ label }}</b>
						</small>
						<ul>
							<li v-for="(port, index) in tcpIPServiceList[label]" :key="index">
								<a :href="port.linkPlusQuery">{{ port.link }}</a>
							</li>
						</ul>
					</li>
				</ul>
			</v-card-text>
			<v-card-actions>
				<v-switch v-model="showStats" :label="`Display Stats`"></v-switch>
			</v-card-actions>
		</v-card>
	</v-flex>
</template>
<script lang="ts">
interface PortLink {
	link: string;
	linkPlusQuery: string;
}
interface TCPIPHash {
	[serviceName: string]: PortLink[];
}
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import { dockerContainers } from "../store/docker-containers/index";
import { BaseFolder } from "@/store/file-system/types";
import { API_URL } from "../store/helper";
import {
	Container,
	ContainerProjectHash,
	Port,
	ContainerStats
} from "@/store/docker-containers/types";
import Containers from "@/views/Containers.vue";
const socketHash: { [imageId: string]: WebSocket } = {};
@Component({})
export default class ContainerGroup extends Vue {
	@Prop() private containers!: Container[];
	@Prop() private label!: string;

	private showStats: boolean = false;
	private cpu: { [containerId: string]: number } = {};

	private getServiceNameOrImageName(container: Container) {
		return container.Labels["com.docker.compose.service"] || container.Image;
	}

	private addQueryStrings(name: string): string {
		if (name.includes("phpmyadmin")) {
			return "?pma_username=root&pma_password=root";
		}
		return "";
	}

	private get serviceGroups(): ContainerProjectHash {
		return this.containers.reduce(
			(acc: ContainerProjectHash, container: Container) => {
				const groupLabel = this.getServiceNameOrImageName(container);
				if (!acc[groupLabel]) {
					acc[groupLabel] = [];
				}
				acc[groupLabel].push(container);
				return acc;
			},
			{}
		);
	}

	private get tcpIPServiceList(): TCPIPHash {
		function isHttps(port: Port) {
			return port.PrivatePort === 443;
		}
		return this.containers.reduce((acc: TCPIPHash, container: Container) => {
			const groupLabel = this.getServiceNameOrImageName(container);
			container.Ports.forEach(port => {
				const portLink: PortLink = {
					link: "",
					linkPlusQuery: ""
				};
				if (port.PublicPort && port.IP) {
					if (!acc[groupLabel]) {
						acc[groupLabel] = [];
					}
					const protocol: string = isHttps(port) ? "https" : "http";
					portLink.link = `${protocol}://localhost:${port.PublicPort}`;
					portLink.linkPlusQuery = `${protocol}://localhost:${
						port.PublicPort
					}${this.addQueryStrings(container.Image)}`;
					acc[groupLabel].push(portLink);
				}
			});
			return acc;
		}, {});
	}

	private updateContainersCPU(id: string, stats: ContainerStats) {
		const cpuDelta =
			stats.cpu_stats.cpu_usage.total_usage -
			stats.precpu_stats.cpu_usage.total_usage;
		const systemDelta =
			stats.cpu_stats.system_cpu_usage - stats.precpu_stats.system_cpu_usage;
		const RESULT_CPU_USAGE = ((cpuDelta / systemDelta) * 100).toFixed(2);
		this.$set(
			this.cpu,
			id,
			RESULT_CPU_USAGE == "NaN" ? "0.00" : RESULT_CPU_USAGE
		);
	}

	private closeSockets() {
		this.containers.forEach(container => {
			if (socketHash[container.Id]) {
				socketHash[container.Id].close();
			}
		});
	}
	private openSockets() {
		this.containers.forEach(container => {
			socketHash[container.Id] = new WebSocket(
				`${API_URL().replace("http", "ws")}/container/stats?containerId=${
					container.Id
				}`
			);
			socketHash[container.Id].onmessage = response => {
				this.updateContainersCPU(container.Id, JSON.parse(response.data));
			};
		});
	}

	@Watch("showStats")
	private onShowStats(showStats: boolean) {
		if (showStats) {
			this.openSockets();
		} else {
			this.closeSockets();
		}
	}

	private beforeDestroy() {
		this.closeSockets();
	}
}
</script>

<style scoped>
h3 {
	margin-top: 0.5em;
}
ul {
	list-style: none;
	padding: 0;
}
small {
	opacity: 0.5;
	position: relative;
}
.container-list-project--stack small {
	top: -0.5em;
}
hr {
	opacity: 0.25;
}
.container-list-project--tcp {
	padding-top: 10px;
}
.container-list-project--tcp > li {
	margin-bottom: 15px;
}
.container-list-project--stat {
	display: block;
}
</style>
