<template>
  <div>
    <ul v-if="folderList.length">
      <li v-for="folder in folderList" :key="folder.name" v-if="!folder.hidden">
        <a
          @click.prevent="showPathContent(folder.path, folder.name)"
          href="#go-to-folder"
        >{{ folder.name }}</a>
      </li>
    </ul>
    <div v-else>No folders found.</div>
  </div>
</template>
<script lang="ts">
import { Component } from "vue-property-decorator";
import VueBase from "@/abstract/VueBase";
import { fileSystem } from "../store/file-system/index";
import { BaseFolder } from "@/store/file-system/types";

@Component({
	mounted() {
		fileSystem.dispatchFolderList("/Users/mrussell/go/src");
	}
})
export default class FolderList extends VueBase {
	get folderList(): BaseFolder[] {
		return fileSystem.folders;
	}
	private showPathContent(path: string, folderName: string) {
		fileSystem.dispatchFolderList(`${path}/${folderName}`);
	}
}
</script>
