<template>
  <div class="path-selector">
    <v-breadcrumbs :items="cwdParts">
      <template slot="item" slot-scope="props">
        <a
          href="#go-to-folder"
          @click.prevent="showPathContent(props.item.path)"
        >{{ props.item.folderName}}</a>
        <!-- <span v-else>{{part.folderName}}</span> -->
      </template>
    </v-breadcrumbs>
  </div>
</template>
<script lang="ts">
import { Component } from "vue-property-decorator";
import VueBase from "@/abstract/VueBase";
import { fileSystem } from "../store/file-system/index";

@Component({
	mounted() {
		fileSystem.dispatchCWD();
		fileSystem.dispatchHome();
	}
})
export default class PathSelector extends VueBase {
	get cwd(): string {
		return fileSystem.cwd;
	}
	get home(): string {
		return fileSystem.home;
	}
	get cwdParts(): object[] {
		return Array.from(new Set(this.cwd.split("/"))).map(
			(folderName, indx, arr) => {
				return {
					folderName: folderName ? folderName : "🏠",
					path: folderName
						? `${arr.slice(0, indx).join("/")}/${folderName}`
						: fileSystem.home
				};
			}
		);
		// .filter(i => i.folderName !== "/");
	}
	private showHome(): void {
		fileSystem.dispatchFolderList(this.home);
	}
	private showPathContent(path: string) {
		fileSystem.dispatchFolderList(path);
	}
	private isLast(indx: number) {
		return this.cwdParts.length - 1 === indx;
	}
}
</script>
