<template>
  <div class="about">
    <h1>This is an about page</h1>
  </div>
</template>
<script lang="ts">
import { Component } from "vue-property-decorator";
import VueBase from "@/abstract/VueBase";

@Component({})
export default class Home extends VueBase {}
</script>
