<template>
	<v-container grid-list-md fluid>
		<v-layout row wrap>
			<container-group
				:label="key"
				:containers="val"
				v-for="(val, key) in containersGroupedByProject"
				:key="key"
			/>
		</v-layout>
	</v-container>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import ContainerGroup from "../components/ContainerGroup.vue";
import VueBase from "@/abstract/VueBase";
import { ContainerProjectHash } from "@/store/docker-containers/types";
import { dockerContainers } from "../store/docker-containers/index";

@Component({
	components: {
		ContainerGroup
	},
	mounted() {
		dockerContainers.dispatchGetContainers();
	}
})
export default class Containers extends VueBase {
	get containersGroupedByProject(): ContainerProjectHash {
		return dockerContainers.containersGroupedByProject;
	}
}
</script>

<style>
.containers {
	text-align: left;
}
</style>

