<template>
	<v-container grid-list-md fluid>
		<v-layout row wrap></v-layout>
	</v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class Containers extends Vue {}
</script>

<style>
.containers {
	text-align: left;
}
</style>

