<template>
  <div class="import">
    <path-selector/>
    <folder-list/>
  </div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import PathSelector from "@/components/PathSelector.vue";
import FolderList from "@/components/FolderList.vue";
import VueBase from "@/abstract/VueBase";

@Component({
	components: {
		PathSelector,
		FolderList
	}
})
export default class Import extends VueBase {}
</script>

<style>
.import {
	text-align: left;
}
</style>

