<template>
  <v-app>
    <v-toolbar primary class>
      <v-toolbar-title>shoreline</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <!-- <v-btn flat to="/">Home</v-btn> -->
        <v-btn flat to="/about">About</v-btn>
        <v-btn flat to="/projects">Projects</v-btn>
        <v-btn flat to="/import">Import Project</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <!-- <v-toolbar>
      <v-toolbar-side-icon></v-toolbar-side-icon>
      <v-toolbar-title>Title</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat>Link One</v-btn>
        <v-btn flat>Link Two</v-btn>
        <v-btn flat>Link Three</v-btn>
      </v-toolbar-items>
    </v-toolbar>-->
    <v-content>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
    <v-footer app></v-footer>
  </v-app>
</template>

<script>
import HelloWorld from "./components/HelloWorld";

export default {
	name: "App",
	components: {
		HelloWorld
	},
	data() {
		return {
			mini: false
		};
	}
};
</script>
